html, body {
    width: 100%;
    margin: 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    font-weight: bolder;
    position: sticky;
    top: 20px;
    color: azure;
    background-color: rgb(29, 29, 29);
    border-radius: 28px;
    padding: 2px;
    margin: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px;
    gap: 10px;
    list-style: none;
}

li a {
    color: azure;
    text-decoration: none;
}

li>a:hover {
    color: #73bcbe;
}

.heading1 {
    font-weight: bolder;
    text-align: center;
    font-size: xx-large;
}

.container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 30px 0;
}

.card {
    display: flex;
    flex-direction: column-reverse;
    background-size: contain;
    width: 250px;
    height: 200px;
    border: 2px solid black;
    border-radius: 18px;
}

.projLink {
    color: aliceblue;
    text-decoration: none;
}

.caption {
    width: 230px;
    height: 50px;
    background-color: black;
    padding: 10px;
    border-top: 2px solid black;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

/* #c1 {
    background-image: url('../img/quantium-dashboard.png');
} */

/* #c2 {

} */

footer {
    color: black;
    font-size: small;
    font-weight: bolder;
    padding-left: 20px;
    padding-bottom: 5px;
}

@media (min-width: 490px) {
    
    ul {
        gap: 60px;
    }
}

@media (min-width: 769px) {
    
    .navbar {
        margin: 40px;
    }

    ul {
        gap: 80px;
    }

}

@media (min-width: 1024px) {

    .navbar {
        margin: 40px 60px;
    }

    ul {
        gap: 120px;
    }
}
